@charset "UTF-8";
body {
  background-color: #333333; }
  body a:link,
  body a:visited {
    color: #114C9A; }

body.template-listing_view #visual-portal-wrapper #content-core .listItem {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  background-color: transparent;
  border-bottom: 1px solid #CCCCCC; }

#visual-portal-wrapper {
  max-width: 1200px;
  margin: 0 auto; }
  #visual-portal-wrapper #portal-top,
  #visual-portal-wrapper #portal-columns,
  #visual-portal-wrapper #portal-footer-wrapper {
    background-color: #FFFFFF; }
  #visual-portal-wrapper #viewlet-above-content-body .leadimage {
    margin: 1em 0;
    width: 29.16667%; }
    #visual-portal-wrapper #viewlet-above-content-body .leadimage img {
      width: 100%;
      height: auto;
      float: none; }
  #visual-portal-wrapper #viewlet-above-content-body .leadimage-full {
    margin: 1em 0;
    float: none;
    width: 100%; }
  #visual-portal-wrapper #content-core img {
    max-width: 100%; }
  #visual-portal-wrapper #content-core .slideshow-item {
    margin: 1em 0 2em;
    padding: 1em;
    border: 1px dashed #999999; }
  #visual-portal-wrapper #content-core .documentPage {
    border: 1px solid #666666;
    padding: 1.5em;
    background-color: #f9f9f9;
    margin: 1.5em 0; }
  #visual-portal-wrapper #content-core .listItem {
    background-color: #F6F6F6; }
    #visual-portal-wrapper #content-core .listItem .listTitle {
      font-weight: bold;
      font-size: 1.25em;
      margin-top: 0.25em;
      margin-bottom: 0.125em; }
    #visual-portal-wrapper #content-core .listItem .listTitle a {
      border: none; }
    #visual-portal-wrapper #content-core .listItem .listDescription {
      margin-top: 0.25em;
      margin-bottom: 0.125em; }
    #visual-portal-wrapper #content-core .listItem .listLeadImage {
      width: 100%;
      height: 0;
      padding-bottom: 66.66667%;
      position: relative;
      overflow: hidden; }
    #visual-portal-wrapper #content-core .listItem .listLeadImage a,
    #visual-portal-wrapper #content-core .listItem .listLeadImage img {
      border: none; }
    #visual-portal-wrapper #content-core .listItem .listLeadImage a img {
      position: absolute;
      width: 100%;
      height: auto;
      /* 
         That was easy!
         http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
      */
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 50%; }
  #visual-portal-wrapper #content-core .list-item-columns-1 {
    width: 95.42857%;
    float: left;
    padding: 1.5em 1.33333%;
    border: 1px #CCCCCC solid;
    margin: 1.5em 0.66667%; }
  #visual-portal-wrapper #content-core .list-item-columns-1:nth-child(1n+1) {
    clear: left; }
  #visual-portal-wrapper #content-core .list-item-columns-2 {
    width: 45.42857%;
    float: left;
    padding: 1.5em 1.33333%;
    border: 1px #CCCCCC solid;
    margin: 1.5em 0.66667%; }
  #visual-portal-wrapper #content-core .list-item-columns-2:nth-child(2n+1) {
    clear: left; }
  #visual-portal-wrapper #content-core .list-item-columns-3 {
    width: 28.7619%;
    float: left;
    padding: 1.5em 1.33333%;
    border: 1px #CCCCCC solid;
    margin: 1.5em 0.66667%; }
  #visual-portal-wrapper #content-core .list-item-columns-3:nth-child(3n+1) {
    clear: left; }
  #visual-portal-wrapper #content-core .list-item-columns-4 {
    width: 20.42857%;
    float: left;
    padding: 1.5em 1.33333%;
    border: 1px #CCCCCC solid;
    margin: 1.5em 0.66667%; }
  #visual-portal-wrapper #content-core .list-item-columns-4:nth-child(4n+1) {
    clear: left; }
  #visual-portal-wrapper #content div.documentByLine {
    font-size: 100%; }
  #visual-portal-wrapper #content ul.documentDescription li {
    list-style-type: none; }
  #visual-portal-wrapper #portal-column-content .documentEditable .cascade-select select {
    font-size: 1em;
    padding: 0.125em 0.375em;
    margin: 0 0.375em; }
    #visual-portal-wrapper #portal-column-content .documentEditable .cascade-select select optgroup {
      font-weight: bold;
      color: black;
      padding: 0.25em 0 0.375em 0;
      margin-bottom: 0.25em;
      border-bottom: 1px solid #CCCCCC; }
  #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump {
    font-size: 0.75em;
    line-height: 1.45; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump > div {
      margin: 0 1em; }
      #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump > div > div {
        margin: 0 0.5em; }
        #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump > div > div p.field-description {
          color: #575757;
          margin-bottom: 0.375em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h2, #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h3, #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h4, #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h5 {
      color: #000000; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h2 {
      margin-top: 0;
      font-size: 1.602em;
      border-bottom: 1px solid #999999;
      margin-bottom: 0.375em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h3 {
      font-size: 1.424em;
      color: #F6F6F6;
      background-color: #999999;
      border: 1px solid #666666;
      padding: 0 0.375em;
      margin-bottom: 0.375em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h4 {
      font-size: 1.266em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h5 {
      font-size: 1.125em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump p, #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump ul {
      margin-bottom: 1.3em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump ul {
      display: block;
      list-style-type: disc;
      padding-left: 1em;
      font-size: 1em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump li {
      list-style-position: inside;
      display: list-item; }
  #visual-portal-wrapper p.error-check-none:before {
    font-weight: bold;
    padding-right: 0.25em;
    font-size: 1.5em;
    display: inline-block;
    float: left;
    margin-top: -0.375em;
    color: green;
    content: "\25A0";
    margin-left: 1em; }
  #visual-portal-wrapper table.errors {
    margin: 0.25em 1em 1.5em; }
    #visual-portal-wrapper table.errors th {
      color: #FFFFFF;
      background-color: #999999;
      border: 1px solid #666666;
      font-size: 1.125em;
      padding: 0.25em 0.6875em; }
    #visual-portal-wrapper table.errors td {
      border: 1px solid #666666; }
    #visual-portal-wrapper table.errors tr td:first-child {
      font-weight: bold; }
    #visual-portal-wrapper table.errors tr td:first-child span:before {
      font-weight: bold;
      padding-right: 0.25em;
      font-size: 1.5em;
      display: inline-block;
      float: left;
      margin-top: -0.375em; }
    #visual-portal-wrapper table.errors tr.error-check-high td:first-child span:before {
      color: #DF291B;
      content: "\25A0"; }
    #visual-portal-wrapper table.errors tr.error-check-medium td:first-child span:before {
      color: #FF9D4F;
      content: "\25A0"; }
    #visual-portal-wrapper table.errors tr.error-check-low td:first-child span:before {
      color: #FFD71F;
      content: "\25A0"; }

body.template-all_content span[class*="error-check"]:before,
body.template-my_content span[class*="error-check"]:before {
  content: "\25A0";
  font-size: 1.25em; }
body.template-all_content span.error-check-high:before,
body.template-my_content span.error-check-high:before {
  color: #DF291B; }
body.template-all_content span.error-check-medium:before,
body.template-my_content span.error-check-medium:before {
  color: #FF9D4F; }
body.template-all_content span.error-check-low:before,
body.template-my_content span.error-check-low:before {
  color: #FFD71F; }
body.template-all_content span.error-check-none:before,
body.template-my_content span.error-check-none:before {
  color: green;
  content: "\25A0"; }

/* Override the embiggening for the Title field in a data grid */
#content .field .datagridwidget-cell input[type="text"] {
  font-family: "Helvetica Neue",​Arial,​FreeSans,​sans-serif;
  font-size: 1em;
  font-weight: normal;
  width: 96%;
  line-height: 1.5;
  letter-spacing: 0;
  margin: 3px 1%;
  padding: 1%; }

/* Classes for the All Content and My Content Views */
body.template-all_content #content-core li,
body.template-my_content #content-core li {
  margin-bottom: 1em; }
  body.template-all_content #content-core li a[data-type]:before,
  body.template-my_content #content-core li a[data-type]:before {
    content: attr(data-type) ": ";
    font-weight: bold; }
body.template-all_content #content-core a.state-expired,
body.template-all_content #content-core a.state-expiring_soon,
body.template-all_content #content-core a.state-imported,
body.template-all_content #content-core a.state-pending,
body.template-all_content #content-core a.state-private,
body.template-all_content #content-core a.state-published,
body.template-all_content #content-core a.state-requires_feedback,
body.template-all_content #content-core a.state-requires_initial_review,
body.template-my_content #content-core a.state-expired,
body.template-my_content #content-core a.state-expiring_soon,
body.template-my_content #content-core a.state-imported,
body.template-my_content #content-core a.state-pending,
body.template-my_content #content-core a.state-private,
body.template-my_content #content-core a.state-published,
body.template-my_content #content-core a.state-requires_feedback,
body.template-my_content #content-core a.state-requires_initial_review {
  color: #205c90 !important;
  font-size: 1.125em;
  margin-bottom: 0.125em;
  display: inline-block; }
body.template-all_content #content-core a.state-expired:after,
body.template-all_content #content-core a.state-expiring_soon:after,
body.template-all_content #content-core a.state-imported:after,
body.template-all_content #content-core a.state-pending:after,
body.template-all_content #content-core a.state-private:after,
body.template-all_content #content-core a.state-published:after,
body.template-all_content #content-core a.state-requires_feedback:after,
body.template-all_content #content-core a.state-requires_initial_review:after,
body.template-my_content #content-core a.state-expired:after,
body.template-my_content #content-core a.state-expiring_soon:after,
body.template-my_content #content-core a.state-imported:after,
body.template-my_content #content-core a.state-pending:after,
body.template-my_content #content-core a.state-private:after,
body.template-my_content #content-core a.state-published:after,
body.template-my_content #content-core a.state-requires_feedback:after,
body.template-my_content #content-core a.state-requires_initial_review:after {
  color: #FFFFFF;
  background-color: #000000;
  padding: 0.25em 0.25em;
  margin-left: 0.375em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
body.template-all_content #content-core a.state-expired:after,
body.template-my_content #content-core a.state-expired:after {
  content: "Expired";
  background-color: #575757; }
body.template-all_content #content-core a.state-expiring_soon:after,
body.template-my_content #content-core a.state-expiring_soon:after {
  content: "Expiring Soon";
  background-color: #FF0000; }
body.template-all_content #content-core a.state-imported:after,
body.template-my_content #content-core a.state-imported:after {
  content: "Imported";
  background-color: #FFA500; }
body.template-all_content #content-core a.state-pending:after,
body.template-my_content #content-core a.state-pending:after {
  content: "Pending Review";
  background-color: #FFA500; }
body.template-all_content #content-core a.state-private:after,
body.template-my_content #content-core a.state-private:after {
  content: "Private";
  background-color: #FF0000; }
body.template-all_content #content-core a.state-published:after,
body.template-my_content #content-core a.state-published:after {
  content: "Published";
  background-color: #575757; }
body.template-all_content #content-core a.state-requires_feedback:after,
body.template-my_content #content-core a.state-requires_feedback:after {
  content: "Requires Feedback";
  background-color: #FF0000; }
body.template-all_content #content-core a.state-requires_initial_review:after,
body.template-my_content #content-core a.state-requires_initial_review:after {
  content: "Requires Initial Review";
  background-color: #FF0000; }

/* These classes insert the content type before the title when on the product */
body[class*="portaltype-atlas_"] h1.documentFirstHeading[data-type]:before {
  content: attr(data-type) ": ";
  font-weight: normal; }

#content-core .product-listing div.listTitle[data-type]:before {
  content: attr(data-type);
  font-weight: bold;
  background-color: #575757;
  color: white;
  display: block;
  padding: 0.25em 0.375em;
  font-size: 0.75em;
  margin-bottom: 0.375em;
  border: 1px solid #666666; }
#content-core .product-listing .pagination {
  clear: both; }

/* Fix the link color */
#content a:link,
dl.portlet a:link {
  color: #114C9A; }

.state-published {
  color: #114C9A !important; }

/* Navigation Tree Styles */
dl.portlet.portletNavigationTree {
  font-size: 0.875em; }
  dl.portlet.portletNavigationTree img {
    display: none; }
  dl.portlet.portletNavigationTree ul.navTreeLevel0 > li > a.navTreeCurrentItem,
  dl.portlet.portletNavigationTree ul.navTreeLevel0 > li > a.navTreeItemInPath {
    margin: 0;
    border: none;
    background-color: transparent;
    font-weight: bold; }
  dl.portlet.portletNavigationTree ul.navTreeLevel0 ul.navTreeLevel1 {
    font-size: 0.9375em;
    margin: 0.25em 0 0.5em 0;
    border: 1px solid #CCCCCC;
    background-color: #F6F6F6; }
    dl.portlet.portletNavigationTree ul.navTreeLevel0 ul.navTreeLevel1 > li {
      padding: 0.125em 0.75em;
      margin: 0; }
      dl.portlet.portletNavigationTree ul.navTreeLevel0 ul.navTreeLevel1 > li > a.navTreeCurrentItem,
      dl.portlet.portletNavigationTree ul.navTreeLevel0 ul.navTreeLevel1 > li > a.navTreeItemInPath {
        margin: 0;
        border: none;
        background-color: transparent;
        font-weight: bold; }

/* CSS for atlas menu controls */
/* Atlas Review Navigation */
#content .atlas-filter {
  margin-bottom: 1em; }
#content .atlas-item {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dashed #CCCCCC; }
#content .atlas-review-nav {
  background-color: #F6F6F6;
  margin-bottom: 1em;
  border: 1px solid #CCCCCC; }
  #content .atlas-review-nav ul {
    font-size: 1em;
    margin-left: 0;
    display: block; }
    #content .atlas-review-nav ul li {
      display: inline-block;
      float: left;
      margin-bottom: 0;
      list-style-type: none; }
      #content .atlas-review-nav ul li a {
        border-bottom: none !important;
        padding: 0.75em 0.75em;
        margin: 0;
        border-left: 1px solid #CCCCCC;
        display: block;
        background-color: #F6F6F6; }
      #content .atlas-review-nav ul li a:hover {
        text-decoration: underline; }
      #content .atlas-review-nav ul li a.selected {
        background-color: #114C9A;
        color: #F6F6F6; }
    #content .atlas-review-nav ul li:first-child a {
      border-left: none; }

/*# sourceMappingURL=styles.css.map */
