body {
  background-color: #333333; }

#visual-portal-wrapper {
  max-width: 1200px;
  margin: 0 auto; }
  #visual-portal-wrapper #portal-top,
  #visual-portal-wrapper #portal-columns,
  #visual-portal-wrapper #portal-footer-wrapper {
    background-color: #FFFFFF; }
  #visual-portal-wrapper #viewlet-above-content-body .leadimage {
    margin: 1em 0;
    width: 29.16667%; }
    #visual-portal-wrapper #viewlet-above-content-body .leadimage img {
      width: 100%;
      height: auto;
      float: none; }
  #visual-portal-wrapper #viewlet-above-content-body .leadimage-full {
    margin: 1em 0;
    float: none;
    width: 100%; }
  #visual-portal-wrapper #content-core img {
    max-width: 100%; }
  #visual-portal-wrapper #content-core .slideshow-item {
    margin: 1em 0 2em;
    padding: 1em;
    border: 1px dashed #999999; }
  #visual-portal-wrapper #content-core .documentPage {
    border: 1px solid #666666;
    padding: 1.5em;
    background-color: #f9f9f9;
    margin: 1.5em 0; }
  #visual-portal-wrapper #content-core .listItem {
    background-color: #f0f0f0; }
    #visual-portal-wrapper #content-core .listItem .listTitle {
      font-weight: bold;
      font-size: 1.25em;
      margin-top: 0.25em;
      margin-bottom: 0.125em; }
    #visual-portal-wrapper #content-core .listItem .listTitle a {
      border: none; }
    #visual-portal-wrapper #content-core .listItem .listDescription {
      margin-top: 0.25em;
      margin-bottom: 0.125em; }
    #visual-portal-wrapper #content-core .listItem .listLeadImage a,
    #visual-portal-wrapper #content-core .listItem .listLeadImage img {
      border: none; }
    #visual-portal-wrapper #content-core .listItem .listLeadImage img {
      width: 100%;
      height: auto; }
  #visual-portal-wrapper #content-core .list-item-columns-1 {
    width: 95.42857%;
    float: left;
    padding: 1.5em 1.33333%;
    border: 1px #CCCCCC solid;
    margin: 1.5em 0.66667%; }
  #visual-portal-wrapper #content-core .list-item-columns-1:nth-child(1n+1) {
    clear: left; }
  #visual-portal-wrapper #content-core .list-item-columns-2 {
    width: 45.42857%;
    float: left;
    padding: 1.5em 1.33333%;
    border: 1px #CCCCCC solid;
    margin: 1.5em 0.66667%; }
  #visual-portal-wrapper #content-core .list-item-columns-2:nth-child(2n+1) {
    clear: left; }
  #visual-portal-wrapper #content-core .list-item-columns-3 {
    width: 28.7619%;
    float: left;
    padding: 1.5em 1.33333%;
    border: 1px #CCCCCC solid;
    margin: 1.5em 0.66667%; }
  #visual-portal-wrapper #content-core .list-item-columns-3:nth-child(3n+1) {
    clear: left; }
  #visual-portal-wrapper #content-core .list-item-columns-4 {
    width: 20.42857%;
    float: left;
    padding: 1.5em 1.33333%;
    border: 1px #CCCCCC solid;
    margin: 1.5em 0.66667%; }
  #visual-portal-wrapper #content-core .list-item-columns-4:nth-child(4n+1) {
    clear: left; }
  #visual-portal-wrapper #content ul.documentDescription li {
    list-style-type: none; }
  #visual-portal-wrapper #portal-column-content .documentEditable .cascade-select select {
    font-size: 1em;
    padding: 0.125em 0.375em;
    margin: 0 0.375em; }
    #visual-portal-wrapper #portal-column-content .documentEditable .cascade-select select optgroup {
      font-weight: bold;
      color: black;
      padding: 0.25em 0 0.375em 0;
      margin-bottom: 0.25em;
      border-bottom: 1px solid #CCCCCC; }
  #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump {
    font-size: 0.75em;
    line-height: 1.45; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump > div {
      margin: 0 1em; }
      #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump > div > div {
        margin: 0 0.5em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h2, #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h3, #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h4, #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h5 {
      color: #000000; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h2 {
      margin-top: 0;
      font-size: 1.602em;
      border-bottom: 1px solid #999999;
      margin-bottom: 0.375em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h3 {
      font-size: 1.424em;
      color: #F6F6F6;
      background-color: #999999;
      border: 1px solid #666666;
      padding: 0 0.375em;
      margin-bottom: 0.375em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h4 {
      font-size: 1.266em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump h5 {
      font-size: 1.125em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump p, #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump ul {
      margin-bottom: 1.3em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump ul {
      display: block;
      list-style-type: disc;
      padding-left: 1em;
      font-size: 1em; }
    #visual-portal-wrapper #portal-column-content #viewlet-below-content .data-dump li {
      list-style-position: inside;
      display: list-item; }
  #visual-portal-wrapper p.error-check-none:before {
    font-weight: bold;
    padding-right: 0.25em;
    font-size: 1.5em;
    display: inline-block;
    float: left;
    margin-top: -0.375em;
    color: green;
    content: "\25A0";
    margin-left: 1em; }
  #visual-portal-wrapper table.errors {
    margin: 0.25em 1em 1.5em; }
    #visual-portal-wrapper table.errors th {
      color: #FFFFFF;
      background-color: #999999;
      border: 1px solid #666666;
      font-size: 1.125em;
      padding: 0.25em 0.6875em; }
    #visual-portal-wrapper table.errors td {
      border: 1px solid #666666; }
    #visual-portal-wrapper table.errors tr td:first-child {
      font-weight: bold; }
    #visual-portal-wrapper table.errors tr td:first-child span:before {
      font-weight: bold;
      padding-right: 0.25em;
      font-size: 1.5em;
      display: inline-block;
      float: left;
      margin-top: -0.375em; }
    #visual-portal-wrapper table.errors tr.error-check-high td:first-child span:before {
      color: #DF291B;
      content: "\25A0"; }
    #visual-portal-wrapper table.errors tr.error-check-medium td:first-child span:before {
      color: #EF7B1D;
      content: "\25A0"; }
    #visual-portal-wrapper table.errors tr.error-check-low td:first-child span:before {
      color: #FFD71F;
      content: "\25A0"; }

/*# sourceMappingURL=styles.css.map */
