$max_width: 1200px;
$min_width: 350px;

body {
    background-color: #333333;
}

#visual-portal-wrapper {
    max-width: $max_width;
    margin: 0 auto;

    #portal-top,
    #portal-columns,
    #portal-footer-wrapper {
        background-color: #FFFFFF;
    }

    #viewlet-above-content-body {
        $leadimage_width: 350px;
        $leadimage_width_percent: 100%*($leadimage_width/$max_width);

        .leadimage {
            margin: 1em 0;
            width: $leadimage_width_percent;

            img {
                width: 100%;
                height: auto;
                float: none;
            }
        }

        .leadimage-full {
            margin: 1em 0;
            float: none;
            width: 100%;
        }
    }

    #content-core {

        $padding: 16px;
        $margin: 8px;
        $border: 1px;
        $max_columns: 5;

        img {
            max-width: 100%;
        }

        .slideshow-item {
            margin: 1em 0 2em;
            padding: 1em;
            border: 1px dashed #999999;
        }

        .documentPage {
            border: 1px solid #666666;
            padding: 1.5em;
            background-color: #f9f9f9;
            margin: 1.5em 0;
        }

        .listItem {

            background-color: #f0f0f0;

            .listTitle {
                font-weight: bold;
                font-size: 1.25em;
                margin-top: 0.25em;
                margin-bottom: 0.125em;
            }

            .listTitle a {
                border: none;
            }

            .listDescription {
                margin-top: 0.25em;
                margin-bottom: 0.125em;
            }

            .listLeadImage a,
            .listLeadImage img {
                border: none;
            }

            .listLeadImage img {
                width: 100%;
                height: auto;
            }

        }

        @for $i from 1 to $max_columns {
            $c: 100/$i;
            $block_width: ($c/100)*$max_width;
            $cell_width: $block_width - 2*($padding+$margin);
            $cell_width_percent: $cell_width/$max_width - (2*$border)/$min_width;
            $margin_width_percent: ($margin/$max_width);
            $padding_width_percent: ($padding/$max_width);

            .list-item-columns-#{$i} {
                width: $cell_width_percent*100%;
                float: left;
                padding: 1.5em $padding_width_percent*100%;
                border: $border #CCCCCC solid;
                margin: 1.5em $margin_width_percent*100%;
            }

            .list-item-columns-#{$i}:nth-child(#{$i}n+1) {
                clear: left;
            }

        }
    }

    #content {
        ul.documentDescription {

            li {
                list-style-type: none;
            }
        }
    }

    #portal-column-content {
        .documentEditable {
            .cascade-select {

                select {
                    font-size: 1em;
                    padding: 0.125em 0.375em;
                    margin: 0 0.375em;

                    optgroup {
                        font-weight: bold;
                        color: black;
                        padding: 0.25em 0 0.375em 0;
                        margin-bottom: 0.25em;
                        border-bottom: 1px solid #CCCCCC;
                    }
                }
            }
        }

        #viewlet-below-content {
            .data-dump {
                font-size: 0.75em;
                line-height: 1.45;

                > div {
                    margin: 0 1em;
                    > div {
                        margin: 0 0.5em;
                        
                        p.field-description {
                            color: #575757;
                            margin-bottom: 0.375em;
                        }
                    }

                }

                h2, h3, h4, h5 {
                    color: #000000;
                }

                h2 {
                    margin-top: 0;
                    font-size: 1.602em;
                    border-bottom: 1px solid #999999;
                    margin-bottom: 0.375em;
                }

                h3 {
                    font-size: 1.424em;
                    color: #F6F6F6;
                    background-color: #999999;
                    border: 1px solid #666666;
                    padding: 0 0.375em;
                    margin-bottom: 0.375em;
                }

                h4 {
                    font-size: 1.266em;
                }

                h5 {
                    font-size: 1.125em;
                }

                p, ul {
                    margin-bottom: 1.3em;
                }

                ul {
                    display: block;
                    list-style-type: disc;
                    padding-left: 1em;
                    font-size: 1em;
                }

                li {
                    list-style-position: inside;
                    display: list-item;
                }

            }
        }
    }
    
    p.error-check-none:before {
        font-weight: bold;
        padding-right: 0.25em;
        font-size: 1.5em;
        display: inline-block;
        float: left;
        margin-top: -0.375em;
        color: green;
        content: "\25A0";
        margin-left: 1em;
    }
    
    table.errors {

        margin: 0.25em 1em 1.5em;
        
        th {
            color: #FFFFFF;
            background-color: #999999;
            border: 1px solid #666666;
            font-size: 1.125em;
            padding: 0.25em 0.6875em;
        }
        
        td {
            border: 1px solid #666666;
        }
        
        tr td:first-child {
            font-weight: bold;
        }
        
        tr td:first-child span:before {
            font-weight: bold;
            padding-right: 0.25em;
            font-size: 1.5em;
            display: inline-block;
            float: left;
            margin-top: -0.375em;
        }

        tr.error-check-high td:first-child span:before {
            color: #DF291B;
            content: "\25A0";
        }
        tr.error-check-medium td:first-child span:before {
            color: #FF9D4F;
            content: "\25A0";
        }
        tr.error-check-low td:first-child span:before {
            color: #FFD71F;
            content: "\25A0";
        }
    }
}

/* Override the embiggening for the Title field in a data grid */

#content .field .datagridwidget-cell input[type="text"] {
    font-family: "Helvetica Neue",​Arial,​FreeSans,​sans-serif;
    font-size: 1em;
    font-weight: normal;
    width: 96%;
    line-height: 1.5;
    letter-spacing: 0;
    margin: 3px 1%;
    padding: 1%;
}

/* Classes for the All Content and My Content Views */

body.template-all_content, 
body.template-my_content {

    #content-core {
    
        li {
            margin-bottom: 1em;
            
            a[data-type]:before {
                content: attr(data-type) ": ";
                font-weight: bold;
            }
        }
        
        a.state-expired,
        a.state-expiring_soon,
        a.state-imported,
        a.state-pending,
        a.state-private,
        a.state-published,
        a.state-requires_feedback,
        a.state-requires_initial_review {
            color: #205c90 !important;
            font-size: 1.125em;
            margin-bottom: 0.125em;
            display: inline-block;
        }
    
        a.state-expired:after,
        a.state-expiring_soon:after,
        a.state-imported:after,
        a.state-pending:after,
        a.state-private:after,
        a.state-published:after,
        a.state-requires_feedback:after,
        a.state-requires_initial_review:after {
            color: #FFFFFF;
            background-color: #000000;
            padding: 0.25em 0.25em;
            margin-left: 0.375em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.875em;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
    
        a.state-expired:after {
            content: "Expired";
            background-color: #575757;
        }
        
        
        a.state-expiring_soon:after {
            content: "Expiring Soon";
            background-color: #FF0000;
        }
        
        
        a.state-imported:after {
            content: "Imported";
            background-color: #FFA500;
        }
        
        
        a.state-pending:after {
            content: "Pending Review";
            background-color: #FFA500;
        }
        
        
        a.state-private:after {
            content: "Private";
            background-color: #FF0000;
        }
        
        
        a.state-published:after {
            content: "Published";
            background-color: #575757;
        }
        
        
        a.state-requires_feedback:after {
            content: "Requires Feedback";
            background-color: #FF0000;
        }
        
        
        a.state-requires_initial_review:after {
            content: "Requires Initial Review";
            background-color: #FF0000;
        }
    }        

}